/* general */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* loading */
.circle{
  border: 7px solid #cc7373;
  border-top: 7px solid #a50303;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  animation: 2s linear infinite spinnerLoaing;
}


/* card */
.container-chuck{
  color: rgb(48, 47, 47);
  background-color: rgb(222, 211, 200);
  height: 500px;
  width: 500px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  text-align: center;
  margin: 5% auto;
  padding-top: 10px;
}

img{
  border-radius: 10px;
}

/* loading animation */
@keyframes spinnerLoaing{
  0%{
    rotate: 0deg;
  }
  25%{
    rotate: 90deg;
  }
  50%{
    rotate: 180deg;
  }
  75%{
    rotate: 270deg;
  }
  100%{
    rotate: 360deg;
  }
}